<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<style>
body
{
 text-align:left;
 background: url("http://imgur.com/2PUdATt.gif");
 background-size:cover;
 background-position: down;
 color: black;
 font-family: red serifs;
 font-size:40px;
 }
</style>
<body>
 <form action ="" method="post">{% csrf_token %}

      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" value={{ username }}>
      </div>

      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" value={{ password }}>
      </div>

      <input type="submit" value="Log In">

    </form>

</body>
</html>